
<% post.order('created_at')%>
<% post.order('created_at DESC').each do |comment| %>
  <div class="container bg-light my-2 py-2 border">
    <div class="d-flex">
      <p class="text-black-50"><%= comment.user.email %></p>
      <p class="mx-5 text-black-50"><%= comment.created_at %></p>
    </div>
    <p><%= comment.info %></p>
    <% if current_user.id == comment.user.id %>
    <div class="d-flex flex-row justify-content-end">
      <%= link_to "Edit", edit_post_comment_path(comment.post.id, comment.id), class:'mx-2 text-decoration-none link-primary' %></li>
      <%= link_to "Destroy", post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "Are you sure?" }, class:'link-danger mx-2 text-decoration-none' %>
    </div>
  <%end%>
  </div>
  
<% end %>
