<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <div class="container border border-3 rounded py-2 my-1 bg-light text-center">
                <%= user_post(current_user) %>
            </div>
            <% @post.order('created_at DESC').each do |post| %>
                <div class="border border-3 rounded p-4 bg-light my-1">
                    <div class="shadown m-1 d-flex border-bottom">
                        <p class="text-uppercase"> <%= post_title(user_signed_in?, post) %> </p>
                        <p class="text-black-50 mx-2"><%= post.created_at %></p>
                    </div>
                    <div class="container shadown">
                            <p class="text-break"><%= post.body %></p>
                    </div>
                     <p class="shadown ms-auto text-end"><%= user_email(current_user, post)%></p>
                </div>
            <% end %>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
