<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <h2 class="text-center">LOG IN</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field d-flex flex-column align-items-center">
                <%= f.label :email, class:'mx-3' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field d-flex flex-column align-items-center">
                <%= f.label :password, class:'mx-3' %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field d-flex flex-row justify-content-center align-items-center">
                  <%= f.check_box :remember_me, class:'mx-3' %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions d-flex flex-column align-items-center">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
            <div class="d-flex flex-row justify-content-center">
              <%= render "devise/shared/links" %>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
